{{!-- this is the survey form --}}
Survey Form

<<<<<<< HEAD
<br />
{{uuid}}
<br />
{{firstName}}


<div class="d-flex justify-content-center fa-10x">
  <i class="fas fa-republican eleph" id="scales"></i>
  <i class="fas fa-balance-scale" id="scales"></i>
  <i class="fas fa-democrat donk" id="scales"></i>
</div>
<!-- {{!-- this is the user form --}} -->

<div class="container">
  <div class="form-group">
    <label for="exampleFormControlSelect1" class="text-primary">Party Affiliation</label>
    <select class="form-control border border-danger" id="partyAff">
      <option>Democrat</option>
      <option>Republican</option>
      <option>Independent</option>
      <option>Undecided</option>
      <option>Abstain</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect2" class="text-primary">Democratic Nominee</label>
    <select class="form-control border border-danger" id="demChoice">
      <option>Bernie Sanders</option>
      <option>Kamala Harris</option>
      <option>Other</option>
      <option>Undecided</option>
      <option>Abstain</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect3" class="text-primary">Proposition 1</label>
    <select class="form-control border border-danger" id="propChoice">
      <option>Yes</option>
      <option>No</option>
      <option>Undecided</option>
      <option>Abstain</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea4" class="text-primary">Notes</label>
    <textarea class="form-control border border-danger" id="notes" rows="3"></textarea>
  </div>
  <button class="btn btn-primary" id="survey">Submit Survey</button>
=======
<br/>
{{userID}}
<br/>
{{firstName}} {{lastName}}

<div class= "container">
  <form id="surveyForm">
    <div class="form-group">
      <label for="partyAff">Party Affiliation</label>
      <select value="" class="form-control" id="partyAff" required>
        <option values="democrat">Democrat</option>
        <option values="republican">Republican</option>
        <option values="independent">Independent</option>
        <option values="undecided">Undecided</option>
        <option values="abstain">Abstain</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="demNominee">Democratic Nominee</label required>
      <select value="" class="form-control" id="demNominee">
        <option values="bernie sanders">Bernie Sanders</option>
        <option values="kamala harris">Kamala Harris</option>
        <option values="other">Other</option>
        <option values="undecided">Undecided</option>
        <option values="abstain">Abstain</option>
      </select>
    </div>

    <div class="form-group">
      <label for="propChoice">Proposition 1</label required>
      <select value="" class="form-control" id="propChoice">
        <option values="yes">Yes</option>
        <option values="no">No</option>
        <option values="undecided">Undecided</option>
        <option values="abstain">Abstain</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea class="form-control" id="notes" rows="3"></textarea>
    </div>

    <button class="btn btn-primary" id="submit-survey">Submit Survey</button>
  
  </form>

>>>>>>> 4ca340bfe81144257996efcdb2430fc642d16014
</div>

<script>

$("#submit-survey").click(function(event){
    event.preventDefault();
    populateSurveyData();

    var formIsValid = $("#surveyForm")[0].checkValidity()

    if(formIsValid){
      populateSurveyData()
      //console.log(true)
    }else{
      alert("fill in required fields")
      return
    }
    location.href = "/";
});


function populateSurveyData() {
  var surveyData = {}

  var url = window.location.href;
  url = url.split("/");
  var userID = url[url.length -1];
  surveyData.userUUID = userID;

  $("select").each(function(){
    var elementVal = $(this).val();
    var elementID = $(this).attr("id");

    if(elementVal.length > 0 && elementVal !== undefined){
      surveyData[elementID] = elementVal;
      $(this).val("");
    }
  });

  if($("#indNominee").val().trim().length > 0){
    surveyData.indNominee = $("#indNominee").val().trim();
  }

  if($("#notes").val().trim().length > 0){
    surveyData.notes = $("#notes").val().trim();
  }

  console.log(surveyData);
  createNewSurvey(surveyData);
}

function createNewSurvey(surveyData){
  
  $.post("/api/survey", surveyData, function(results){
    console.log(results);
  });
}

</script>